{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="card" id="card-gradient">

        <div class="card-body">
            <div id="name-title"> Eventos</div>
            <div class="table-responsive">
                <table class="table align-items-center mb-0">
                    <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nome</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">QRCODE</th>
                        <!--                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Budget</th>-->
                        <!--                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>-->
                        <!--                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">-->
                        <!--                            Completion-->
                        <!--                        </th>-->
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for e in eventos %}
                    <tr>
                        <td>
                            <div class="d-flex px-2">
                                <div>

                                </div>
                                <div class="my-auto">
                                    <a href="/convidados/{{e.codigo}}"><h6 class="mb-0 text-xs">{{e.nome}}</h6></a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex px-2">
                                <div>

                                </div>
                                <div class="my-auto">
                                    <a class="btn btn-success" href="/gerar_qrcode/{{e.codigo}}" ><h6 style="color:white;" class="mb-0 text-xs">Gerar</h6></a>
                                </div>
                            </div>
                        </td>


<!--                        <td class="align-middle">-->
<!--                            <button class="btn btn-link text-secondary mb-0">-->
<!--                                  <span class="material-icons">-->
<!--                                  more_vert-->
<!--                                  </span>-->
<!--                            </button>-->
<!--                        </td>-->
                    </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>


    {% endblock %}